/* PHOTOGRAPHER HEADER */
.main_about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    padding: 20px 40px;
    margin: 20px 100px 0px 100px;
}

.photographer_thumbnail {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100px;
}

.photographer_name {
    font-size: 64px;
    color: #D3573C;
}
.photographer_location {
    font-size: 24px;
    color:#901C1C;
    margin: 20px 0;
}
.photographer_tagline {
    color: #525252;
    font-size: 18px;
}

/* FILTER */
#filter {
    margin: 20px 0px 20px 100px;
    display:flex;
    align-items: center;
    gap: 25px;
    height: 50px;
}

.filter_section {
    position:relative;
    height: 100%;
}

.filter_text {
    font-weight: 700;
    font-size: 18px;
}

#select_filter {
    text-decoration: none;
    border: 0;
    padding: 20px;
}

.dropdown {
    z-index: 10;
    position: absolute;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.rotate{
    transform: rotate(180deg);
}

.dropdown_content {
    max-height: 0;
    background-color: #901C1C;
    transition: max-height .1s ease-in-out;
}

.dropdown_content li {
    position: relative;
}

.dropdown_content li::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    height: 1px;
    background-color: white;
}

.btn_drop,
.dropdown_content li button{
    width: 160px;
    height: 50px;
    padding: 15px;
    font-size: 18px;
    gap: 28px;
    color: white;
}

.btn_drop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #901C1C;
}

.dropdown_content li button {
    width: 100%;
    text-align: left;
}

.dropdown_content li button:hover,
.dropdown_content li button:focus,
.btn_drop:hover,
.btn_drop:focus{
    background-color: #DB8876;
    color: black;
}

.curtain_effect {
    max-height: 200px;
}

/* MEDIA SECTION */
.medias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 10px 30px;
    margin: 0px 100px 50px 100px;
}

.photographer_medias {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom:20px;
}

.photographer_image, .photographer_video {
    width: 100%;
    height: 350px;
    border-radius: 5px;
    object-fit: cover;
    margin-bottom: 10px;
}

.photographer_medias--infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photographer_medias--infos h2 {
    font-size: 24px;
    color: #901C1C;
}

.count {
    font-size: 24px;
    color: #901C1C;
}

.like_info {
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 5px;
}

.like_btn {
    text-decoration: none;
    border: none;
    background-color: transparent;
    padding-right: 0;
}

.like_btn--icon {
    cursor: pointer;
    font-size: 10px;
    color: #901C1C;
    font-size: 24px;
}

.liked {
    color:#DB8876;
}

.photographer_likes {
    position: fixed;
    background-color:#DB8876;
    font-weight: bold;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px 5px 0px 0px;
    bottom: 0;
    font-size: 18px;
    right: 35px;
    width: fit-content;
}

.likes_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

/* LIGHTBOX */
.lightbox {
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color:rgba(255,255,255,0.6)

}

.lightbox-content {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    height: 90%;
    max-height: 1000px;
    padding: 25px 60px 0;
    background-color:white;
    border-radius: 5px;
}

.lightbox.active {
    display: flex;
}

.lightbox img,
.lightbox video {
    max-width: 95%;
    height: calc(90% - 50px);
    object-fit: cover;
}

.lightbox .close {
    position: absolute;
    font-size: 48px;
    cursor: pointer;
    z-index: 100;
    position: absolute;
    top: 25px;
    right: 5px;
    padding: 20px;
}

.lightbox .navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.lightbox .navigation .prev,
.lightbox .navigation .next {
    background: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.prev, .next {
    z-index: 100;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    font-size:40px;

}

.prev {
    left: 10px;
    cursor: pointer;
}

.next {
    right: 10px;
}

.btn_lightbox {
    color:#901C1C
}
.btn_lightbox--close {
    color: #901C1C;
}

.lightbox-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.lightbox-media figcaption {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    color:#901C1C;
    font-size:24px;
}

/* CONTACT FORM */
#contact_modal {
    display: none;
}

#contact_modal {
    position:fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #C4C4C466;

}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    margin: auto;
}

.modal_wrapper {
    width: 100%;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal_title {
    display:flex;
    justify-content: space-between;
}

.modal_title button {
    cursor: pointer;
    justify-content: flex-end;
}

.btn_close--icon {
    font-size:42px;
    color:white;
}

.modal_title h2, .modal_name {
    font-size: 50px;
    font-weight: normal;
}

.modal_name {
    margin: 10px 0 20px 0;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.formData {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    margin-bottom: 5px;
}

.formData label {
    color: #312E2E;
    font-size: 25px;
}

.formData input {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
}

.formData textarea {
    height: 100px;
    border-radius: 5px;
    width: 100%;
}

.formData[data-error]::after {
    content: attr(data-error);
    color: black;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: left;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
  }
.formData[data-error-visible="true"]::after {
    opacity: 1;
}

.formData[data-error-visible="true"] .text-control {
    content: attr(data-error);
    border: 2px solid #e54858;
  }

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
.contact_button:hover {
    background-color:#DB8876;
    color: black;
}

.contact_button:focus {
    color: black;
    background-color:#DB8876;
}
 #formBtn:hover {
    background-color:#901C1C;
    color:white;
    border: 2px solid black;
 }

#formBtn:focus {
    background-color:#901C1C;
    color:white;
    border: 2px solid black;
}
/* ERROR */
.errorPhotographer {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.errorPhotographer h2 {
    padding: 30px 50px;
    background-color: #901C1C;
    font-size: 20px;
    color: white;
}

